extends layout

block content

  h1 Brand: #{brand.name}
    img.brand-logo(src=brand.logo_image alt=brand.name)

  if brandHeadphones.length > 0
    ul.headphone-grid.detail-headphone-grid
      each headphone in brandHeadphones
        li
          - const formatPrice = (price) => {
            - return price.toFixed(2);
          - };
          a.headphone-detail-a(href=headphone.url)
            img.headphone-image(src=headphone.image alt=headphone.name)
            span #{headphone.name}
            span.price-span $ #{formatPrice(headphone.price)}
  else
    span.no-headphones-span This brand has no headphones.
  hr
  p 
    a(href=brand.url+'/delete') Delete brand
  p
    a(href=brand.url+'/update') Update brand
