extends layout 

block content 
  h1 #{title}: #{brand.name}

  if brandHeadphones.length
    p #[strong Delete the following headphones before attempting to delete this brand.]

    ul.headphone-grid.detail-headphone-grid
      each headphone in brandHeadphones
        li
          - const formatPrice = (price) => {
            - return price.toFixed(2);
          - };
          a.headphone-detail-a(href=headphone.url)
            img.headphone-image(src=headphone.image alt=headphone.name)
            span #{headphone.name}
            span.price-span $ #{formatPrice(headphone.price)}
  else 
    p Do you really want to delete this brand?

    form(method='POST' action='')
      div.form-group
        input#brand-id.form-control(type='hidden', name='brandId', required='true', value=brand.id)
      button.btn.btn-primary(type='submit') Delete 
