extends layout 

block content 
  h1 #{title}: #{category.name}

  if categoryHeadphones.length
    p #[strong Delete the following headphones before attempting to delete this category.]

    div(style='margin-left:20px;margin-top:20px')
      h4 Headphones 
      dl 
        each headphone in categoryHeadphones
          dt 
            a(href=headphone.url) #{headphone.name}
  else 
    p Do you really want to delete this category?

    form(method='POST' action='')
      div.form-group
        input#category-id.form-control(type='hidden', name='categoryId', required='true', value=category.id)
      button.btn.btn-primary(type='submit') Delete 
