extends layout

block content

  ul.headphone-grid
    each headphone in headphoneList
      li
        - const formatPrice = (price) => {
          - return price.toFixed(2);
        - };
        a.headphone-detail-a(href=headphone.url)
          img.headphone-image(src=headphone.image alt=headphone.name)
          span #{headphone.name} (#{headphone.brand.name})
          span.price-span $ #{formatPrice(headphone.price)}

    else
      li There are no headphones.
